<div class="detail-container" *ngIf="report()">
  <div class="back-button-container">
    <button mat-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Indietro
    </button>
  </div>
  
  <app-report-card 
    [report]="report() ?? undefined"
    [showActions]="false">
  </app-report-card>
  
  <div class="additional-content">
    
    <div class="image-gallery" *ngIf="report()!.images.length > 1">
      <div class="image-container">
        <img [src]="report()!.images[currentImg()]" [alt]="report()?.title">
        
        <button class="nav-arrow left" (click)="prevImg()">‹</button>
        <button class="nav-arrow right" (click)="nextImg()">›</button>
        
        <div class="dots-container">
          <span *ngFor="let img of report()!.images; let i=index"
                [class.active]="i === currentImg()"
                (click)="currentImg.set(i)">
          </span>
        </div>
      </div>
    </div>
    
    
    
    <div class="location-section" *ngIf="report()?.lat && report()?.lng">
      <div class="location-info">
        <mat-icon>location_on</mat-icon>
        <span>
          <a (click)="focusonMap()" class="map-link" style="cursor: pointer;">
            Vedi sulla mappa principale
          </a>
        </span>
      </div>
    </div>
    
  </div>
</div>