:host{
    display: block;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 144px);
}

.cards-grid{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    justify-items: center;

    @media(max-width: 768px){
        gap: 1.25rem;
       
        @media(max-width: 480px){
            gap: 1rem;
        }
       
    }

}
.add-button {
    position: fixed;
    bottom: 5.5rem;
    right: 2rem;
    z-index: 1001;

    @media (max-width:768px) {
        bottom: 5rem;
        right: 1.5rem;
    }
    @media (max-width:480px) {
        bottom: 1rem;
        right: 1rem;
    }
        
        
}




