
.report-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  place-items: center;
  min-height: 100vh;

}


.report-card {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  background: #fff ;
  padding: 20px;
  width: 100%;

}

img[mat-card-image]{
  width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
  
}

@media (min-width: 400px) {
  .report-grid {
    grid-template-columns: minmax(250px, 400px);
    justify-items: center;
  }
 
}