<div class = "report-grid">
  <mat-card class="report-card" appearance="outlined" >
    <mat-card-header>
      <mat-card-title>{{report()?.title}}</mat-card-title>
      <mat-card-subtitle>
        <div>
          <span>
            {{report()?.distance}}
           </span> 
           <span class="date">{{report()?.date | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src="{{report()!.images[0]}}" alt="{{report()?.title}}">
    <mat-card-content>
      <p>
       {{report()?.description}}
      </p>
    </mat-card-content>
     <div class="categories-section" *ngIf="report()?.categories?.length">
      <div class="categories-container">
        <span class="category-tag" 
              *ngFor="let category of report()?.categories | slice:0:3">
          {{ category }}
        </span>
        <span class="category-more" 
              *ngIf="report()?.categories!.length  > 3">
          +{{ (report()?.categories?.length || 0) - 3 }}
        </span>
      </div>
    </div>
    <mat-card-actions>
      <button matButton routerLink="/detail/{{report()?.id}}">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <button matButton>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>


