/*.spacer {
  flex: 1 1 auto;
}*/
.bottom-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;   
  gap: 30%;      
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}