/*.spacer {
  flex: 1 1 auto;
}*/
.bottom-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;   
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;
}